<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rabbitmq.rabbitmq-server</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/local/bin/daemondo</string>
    <string>--label=rabbitmq-server</string>
    <string>--start-cmd</string>
    <string>/usr/local/sbin/rabbitmq-server</string>
    <string>-u</string>
    <string>nobody</string>
    <string>;</string>
    <string>--pid=exec</string>
  </array>
  <key>Disabled</key><true/>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>/usr/local/rabbitmq</string>
    <key>PATH</key>
    <string>/usr/local/sbin:/usr/bin:/bin:/usr/local/bin:/opt/local/bin:/opt/local/sbin:/usr/local/rabbitmq/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>/var/log/rabbitmq-launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/rabbitmq-launchd-error.log</string>
</dict>
</plist>
