<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.rabbitmq.server</string>
        <key>OnDemand</key>
        <false/>
        <key>RunAtLoad</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
            <key>RABBITMQ_HOME</key>
            <string>/usr/local/rabbitmq</string>
            <key>PATH</key>
            <string>/usr/local/sbin:/usr/bin:/bin:/usr/local/bin:/usr/local/rabbitmq/sbin</string>
            <key>HOME</key>
            <string>/usr/local/rabbitmq</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/rabbitmq/sbin/rabbitmq-server</string>
        </array>
        <key>ServiceDescription</key>
        <string>RabbitMQ</string>
        <key>StandardErrorPath</key>
        <string>/var/log/rabbitmq/rabbitmq_stderror.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/rabbitmq/rabbitmq_stdout.log</string>
        <key>UserName</key>
        <string>root</string>
        <key>WorkingDirectory</key>
        <string>/usr/local</string>
    </dict>
</plist>
